*, html,body {
	margin : 0;
	padding : 0;
	box-sizing : border-box;
	font-family: Helvetica;
	scroll-behavior: smooth;

}



header {
	background : #a73f8d;
	color: #eaeaea;
	display : flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items : center;
	gap : 10px;
} 
.logo {
	margin-right: auto;
	display : flex;
	gap : 6px;
	cursor: pointer;
	transition : all .5s ease 0s;
}
.img-logo {
	width : 35px;
	height : 35px;
	margin-left : 10px;
}

.Alfi {
	margin-right: auto;
	margin-left: 10px;
	cursor: pointer;
	transition : all .5s ease 0s;
}
.Alfi:hover {
	color : #FF6A3D;
	transform  : rotate (2deg);
}
.alfi-btn {
	margin-right:10px;
	border : none;
	font-size: 20px;
	padding : 6px 12px;
	background: #FF6A3D;
	color: #eaeaea;
	border-radius : 8px;
	cursor: pointer;
}

.alfi-btn:hover {
	color : black;
	transform  : rotate (2deg);
}
nav ul {
	display : flex;
	padding : 20px;
}


li {
	list-style-type : none;
	padding: 10px;
	display : block;
}
li a {
	transition : all .5s ease 0s;
	display : inline-block;
}

li a:hover {
	color : #FF6A3D;
	transform  : rotate (2deg);
	transition : all .5s ease 0s;
}

a {
	color : #eaeaea;
	text-decoration : none;
}

.container {
	max-width : 1200px;
	margin: 0  auto;
	padding : 80px 0; 
}

.intro {
	display : flex;
	flex-direction : column;
	justify-content: center ;
	align-items : center;
	gap : 10px ;
	text-align: center;
}
.title {
	color: #1A2238;
	font-size : 24px;
	font-weight : bold;
}
.description {
	color: #1A2238;
	font-size : 29px;
	font-weight : bold;
	font-weight : bolder;
}

.img-foto {
	width: 100%;
	max-width: 700px ;
	max-height: auto;
	padding: 10px;
}

.cumik {
	background-image : url('bahan/muchen\ 2.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height : 100vh;
}
.font {
	display : flex;
	flex-direction : column;
	justify-content: center ;
	align-items : center;
	gap : 10px ;
	text-align: center;
	font-size : 24px;
	background : #a73f8d;
	padding: 30px;
}
.warna1 {
	color : white;
	font-size : 20px;
	font-weight : bold;
	cursor: pointer;
	transition : all .5s ease 0s;
}
.Warna1:hover {
	color : #FF6A3D;
	transform  : rotate (2deg);
}
.warna2 {
	color : white;
	font-size : 25px;
	font-weight : bold;
	cursor: pointer;
	transition : all .5s ease 0s;
}

.warna2:hover {
	color : #FF6A3D;
	transform  : rotate (2deg);
}
.cumik-btn {
	margin-right:10px;
	border : none;
	font-size: 20px;
	padding : 6px 12px;
	background: #FF6A3D;
	color: #eaeaea;
	border-radius : 8px;
	cursor: pointer;
}

.cumik-btn:hover {
	color : black;
	transform  : rotate (2deg);
}
.oke {
	margin-top: 10px;
}

.cards {
	display : flex;
	flex-wrap: wrap;
	justify-content: center ;
	align-items : center;
	gap : 8px ;
	
}
.cards2 {
	text-align: center;
	width : 25% ;
	background: #a73f8d ;
	color : #222;
	padding: 24px;
}
footer {
	padding : 20px;
	text-align : center;
	background : #a73f8d;
}
.aku {
	color : #eaeaea;
}

@media screen and (max-width: 500px) {
	.cards {
		flex-direction : column;
		gap: 0;
	}
	.cards2 {
		width: 100%;
		background : none;
		
	}
	.container {
		padding : 0;
	}
	#nav{
		position : fixed;
		bottom: 0;
		width:100%;
		background: #1A2238;
		z-index: 9;
	}
	footer{
		margin-bottom: 80x;
		margin-top : 70px;	
	}
	
} 
.icon {
	width : 75px;
	height : 75px;
}
.icon2{
	width: 40px;
	height: 40px;
}
.warna4 {
	color : black;
	font-size : 17px;	
}
.warna3 {
	color : white;
	font-size : 15px;	
}
